#DeliveryMenu {
    -fx-background-color: #f15e22;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
}
#showPath {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#showTime {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#showDestination {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#showLocation {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#showRestaurant {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#DeliveryMenuOptions {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 24;
}
#DeliveryMenuCharge {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#DeliveryMenuLogout {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#DeliveryMenuShowBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#backToDeliveryMenu {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 24;
}
#showBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#chargeBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#DeliveryMenuAnchorPane {
    -fx-background-image: url('Pictures/RegisterMenu.png');
}
#showTimeLabel2 {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-font-size: 24;
}
#showTimeLabel1 {
    -fx-text-fill: #f15e22;
    -fx-font-size: 24;
}
#showDestinationLabel1 {
    -fx-text-fill: #f15e22;
    -fx-font-size: 24;
}
#showDestinationLabel2 {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-font-size: 24;
}
#showRestaurantLabel1 {
    -fx-text-fill: #f15e22;
    -fx-font-size: 24;
}
#showRestaurantLabel2 {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-font-size: 24;
}
#showLocationLabel1 {
    -fx-text-fill: #f15e22;
    -fx-font-size: 24;
}
#showLocationLabel2 {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-font-size: 24;
}