#loginMenu {
    -fx-background-color: #f15e22;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
}
#loginMenuExit {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
     -fx-background-radius: 90;
     -fx-border-radius: 90;
     -fx-pref-width: 60;
     -fx-pref-height: 60;
     -fx-font-size: 16;
}
#login {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
      -fx-background-radius: 90;
      -fx-border-radius: 90;
      -fx-pref-width: 90;
      -fx-pref-height: 60;
      -fx-font-size: 22;
}
#backToMainMenu {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
       -fx-background-radius: 90;
       -fx-border-radius: 90;
       -fx-pref-width: 60;
       -fx-pref-height: 60;
       -fx-font-size: 18;
}
#usernameInp {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#passwordInp {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#securityQuestionInp {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#recoverPasswordInp {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#usernameLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#passwordLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#securityQuestionLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 22;
    -fx-pref-width: 240;
}
#notAppropriateUsername {
    -fx-text-fill: #ff0000;
    -fx-font-size: 16;
}
#notAppropriatePassword {
    -fx-text-fill: #ff0000;
    -fx-font-size: 16;
}
#wrongSecurityQuestion {
    -fx-text-fill: #ff0000;
    -fx-font-size: 16;
}
#yourPassword {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#securityLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}