#loginButton {
    -fx-background-color: #f5cea6;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #f15e22;
    -fx-font: 17px "Airfool";

}
#registerButton {
    -fx-background-color: #f5cea6;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #f15e22;
    -fx-font: 17px "Airfool";
}