#ManagerMenu {
    -fx-background-color: #f15e22;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
}
#ManagerMenuOptions {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 24;
}
#ManagerMenuLogout {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#ManagerMenuCharge {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#ManagerMenuShowBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#addRestaurant {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#showRestaurants {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#removeRestaurant {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#backToManagerMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#restaurantNameLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#restaurantLocationLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#restaurantTypeLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#restaurantType {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#restaurantLocation {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#restaurantName {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#addNewRestaurant {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 16;
}
#managerMenuOptions {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 24;
}
#managerMenuLogout {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#managerMenuCharge {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#managerMenuShowBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#showBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#chargeBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#chargeStatus {
    -fx-text-fill: #ff0000;
}
#myRestaurantsPrimeLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#myRestaurantsLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
AnchorPane {
    -fx-background-image: url('../Pictures/RegisterMenu.png');
}