#restaurantName {
    -fx-background-color: #f15e22;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
}
#backToManagerMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#backToSelectMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#backToCommentsTableView {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#addFoodMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#removeFoodMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#orderHistoryMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#ongoingOrdersMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#commentMenu {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 24;
}
#RestaurantMenuOptions {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 24;
}
#RestaurantMenuLogout {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#RestaurantMenuChangeType {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#RestaurantMenuShowBalance {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#RestaurantMenuShowType {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 12;
}
#showBalanceLabel {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#showTypeLabel {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#changeTypeTextField {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-font-size: 20;
}
#changeTypeStatus {
    -fx-text-fill: #ff0000;
}
#addNewFood {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-font-size: 16;
}
#foodNameLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#foodCategoryLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#foodCostLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#foodPriceLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#foodName {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#foodCategory {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#foodCost {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#foodPrice {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#removeFoodDone {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-font-size: 16;
}
#foodNameLabel2 {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
#foodName2 {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#addReply {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-font-size: 16;
}
#reply {
    -fx-text-fill: #f15e22;
    -fx-background-color: #f5cea6;
    -fx-border-color: #f15e22;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#replyLabel {
    -fx-text-fill: #f15e22;
    -fx-font-size: 20;
}
AnchorPane {
    -fx-background-image: url('../Pictures/RegisterMenu.png');
}